@page "/RegistrationForm"
<h3>Registration Form</h3>

@code {

}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next-Level Advanced Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="form.css">

</head>
<body>
    <div class="form-container">
        <form>
            <div class="form-group">
                <input type="text" required>
                <label>Full Name</label>
                <i class="fa fa-user"></i>
            </div>
            <div class="form-group">
                <input type="email" required>
                <label>Email</label>
                <i class="fa fa-envelope"></i>
            </div>
            <div class="form-group">
                <input type="password" required>
                <label>Password</label>
                <i class="fa fa-lock"></i>
            </div>
            <div class="form-group">
                <input type="tel" required>
                <label>Phone Number</label>
                <i class="fa fa-phone"></i>
            </div>
            <div class="form-group">
                <input type="file">
                <label>Upload File</label>
                <i class="fa fa-upload"></i>
            </div>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>

